* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.3s ease;
  list-style-type: none;
}

h1 {
  font-size: 36px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #222;
  line-height: 1.2;
  margin-top: 0;
}

h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin-top: 0px;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  background: transparent !important;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  height: 50px;
  border: none;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-weight: normal;
  line-height: 40px;
  outline: none;
  position: relative;
  text-align: left !important;
  color: #777;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 28px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
}

img {
  vertical-align: middle;
  border-style: none;
}

ol, ul {
  margin-top: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
div[class*=col-] {
  float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col-1 {
  width: 8.33%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2 {
  width: 16.66%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-3 {
  width: 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  width: 33.33%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-5 {
  width: 41.66%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-7 {
  width: 58.33%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-8 {
  width: 66.66%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-9 {
  width: 75%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-10 {
  width: 83.33%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-11 {
  width: 91.66%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
}
.menu-trigger {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 18px;
  right: 20px;
  z-index: 999;
}
.menu-trigger span {
  height: 5px;
  width: 30px;
  background: #222;
  display: block;
  margin: 4px;
  border-radius: 2px;
}

@media (max-width: 1920px) {
  .menu-trigger {
    display: none;
  }
}
@media (max-width: 570px) {
  .menu-trigger {
    display: block;
    background: #fff;
    padding: 10px;
  }
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  transition: all 0.3s;
  box-shadow: -6px 0 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
  margin-right: 0;
}
#header .menu-close {
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
}
#header .menu-close i {
  font-size: 25px;
}
@media (max-width: 1920px) {
  #header .menu-close {
    display: none;
  }
}
@media (max-width: 570px) {
  #header .menu-close {
    display: block;
  }
}
#header .header-logo {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
#header #navbar {
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#header #navbar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
#header #navbar ul .contact {
  background-color: #f43f2c;
}
#header #navbar ul .contact a {
  color: #fff;
}
#header #navbar ul li {
  display: block;
}
#header #navbar ul li a {
  color: #000;
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px 0 10px 20px;
  display: block;
  text-align: left;
}
#header #navbar ul li a img {
  padding-right: 15px;
}
#header #navbar ul li a:hover {
  background-color: #f43f2c;
  color: #fff;
  transition: all 0.3 ease;
}
#header #navbar ul li .element, #header #navbar ul li .blog {
  display: none;
}
#header #navbar ul li .element li a, #header #navbar ul li .blog li a {
  border: none;
  margin-left: 30px;
}
#header #navbar ul .pages-main:hover .element, #header #navbar ul .pages-main:hover .blog, #header #navbar ul .blog-main:hover .element, #header #navbar ul .blog-main:hover .blog {
  display: block;
}

@media (max-width: 570px) {
  #header {
    margin-right: -150px;
  }
}
main {
  margin-right: 150px;
}
main #home-area {
  z-index: 1;
  background: url(/assets/images/background/background1.webp) no-repeat scroll center center;
  background-size: cover;
}
main #home-area .fullscreen {
  height: 635px;
}
@media (max-width: 767px) {
  main #home-area .fullscreen {
    height: 394px;
  }
}
@media (max-width: 767px) {
  main .home-area {
    background: none;
  }
}
main .home-bottom {
  margin-top: -342px;
  align-items: center;
  justify-content: center;
}
main .home-bottom .video-area {
  padding-left: 25%;
  align-items: center;
  display: flex;
}
main .home-bottom .video-area a {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 46px 8px 18px 28px;
  z-index: 0;
}
main .home-bottom .video-area a span {
  display: block;
  position: relative;
  margin-top: -5px;
  z-index: 999;
}
main .home-bottom .video-area a:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}
main .home-bottom .video-area a:after {
  z-index: 1;
  transition: all 200ms;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}
main .home-bottom .video-area .watch {
  color: #fff;
  margin-top: 25px;
  padding-left: 15px;
}
main .home-bottom .video-area .watch h6 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
main .home-bottom .video-area .watch p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  main .home-bottom .video-area {
    display: none;
  }
}
main .home-bottom .col-8 .home-content {
  background: #fff;
  padding: 90px 70px;
}
main .home-bottom .col-8 .home-content .row {
  align-items: center;
  display: flex;
}
main .home-bottom .col-8 .home-content .row .col-8 p {
  margin-bottom: 0;
}
main .home-bottom .col-8 .home-content .row .col-8 h1 {
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 400;
  color: #222;
  font-family: "Pacifico", cursive;
  line-height: 1.2;
}
main .home-bottom .col-8 .home-content .row .col-8 p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
main .home-bottom .col-8 .home-content .row .col-4 .banner-btn {
  margin-left: 10%;
}
main .home-bottom .col-8 .home-content .row .col-4 .banner-btn a {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  color: #fff;
  background: #f42f2c;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  border: 1px solid #f42f2c;
  border-radius: 2px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(244, 47, 44, 0.1);
}
@media (max-width: 991px) {
  main .home-bottom .col-8 .home-content .row .col-4 .banner-btn {
    margin-top: 30px;
    margin-left: -60%;
  }
}
@media (max-width: 991px) {
  main .home-bottom .col-8 .home-content .row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  main .home-bottom .col-8 .home-content {
    padding: 80px 30px;
    margin-left: -80%;
  }
}
@media (max-width: 767px) {
  main .home-bottom .col-8 .home-content {
    margin-left: -80%;
  }
}
@media (max-width: 991px) {
  main .home-bottom {
    margin-top: -395px;
    border-bottom: 1px solid #eee;
  }
}
main #contact-us {
  padding: 150px 0;
}
main #contact-us .row .col-3 .contact-info .info-item {
  position: relative;
  padding-left: 45px;
}
main #contact-us .row .col-3 .contact-info .info-item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #f42f2c;
  font-weight: 600;
  font-variant: normal;
}
main #contact-us .row .col-3 .contact-info .info-item h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 0;
  color: #222;
}
main #contact-us .row .col-3 .contact-info .info-item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0;
}
main #contact-us .row .col-9 .row .first input {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  border-radius: 0;
  padding-left: 20px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
}
main #contact-us .row .col-9 .row .second input {
  margin-bottom: 10px;
  height: 134px;
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  border-radius: 0;
  padding-left: 20px;
  resize: none;
  display: block;
  width: 100%;
  padding-bottom: 90px;
  background-color: #fff;
  background-clip: padding-box;
}
main #contact-us .row .col-9 .row .col-12 {
  text-align: right;
}
main #contact-us .row .col-9 .row .col-12 button {
  margin-top: 20px;
  border: 0;
  border-radius: 50px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  background: linear-gradient(90deg, #f42f2c 0%, #f48464 100%);
  text-transform: uppercase !important;
}
main #contact-us .row .col-9 .row .col-12 button:hover {
  background: #fff;
  color: #222;
}

@media (max-width: 2000px) {
  main {
    margin-right: 150px;
    overflow: hidden;
  }
}
@media (max-width: 570px) {
  main {
    margin-right: 0;
    overflow: hidden;
  }
}
.footer {
  background: url(/assets/images/background/footer.webp) center no-repeat;
  background-size: cover;
  z-index: 1;
  padding: 100px 0;
  margin-right: 150px;
}
.footer .container .footer-top h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer .container .footer-top .col-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .container .footer-top .col-2 ul a {
  line-height: 25px;
  display: inline-block;
  color: #777;
  transition: all 0.3s linear;
  margin-bottom: 13px;
  font-size: 14px;
}
.footer .container .footer-top .col-4 .signup {
  display: inline-block;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.footer .container .footer-top .col-4 .signup input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  font-family: inherit;
}
.footer .container .footer-top .col-4 .signup button {
  cursor: pointer;
  background: #f42f2c;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 7px 12px;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
}
.footer .container .footer-top .col-4 .signup button i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.footer .container .footer-bottom {
  margin-top: 60px;
  justify-content: space-between;
}
.footer .container .footer-bottom .col-6 p {
  margin: 0;
}
.footer .container .footer-bottom .col-6 p i {
  color: #f42f2c;
  display: inline-block;
}
.footer .container .footer-bottom .col-6 p a {
  color: #f42f2c;
}
.footer .container .footer-bottom .col-2 {
  margin-left: auto;
}
.footer .container .footer-bottom .col-2 .social-icons a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  display: inline-block;
}
.footer .container .footer-bottom .col-2 .social-icons a i {
  color: #fff;
}
.footer .container .footer-bottom .col-2 .social-icons a:hover {
  background: #f42f2c;
}
@media (max-width: 991px) {
  .footer .container .footer-bottom {
    text-align: center;
  }
}

@media (max-width: 2000px) {
  .footer {
    margin-right: 150px;
    overflow: hidden;
  }
}
@media (max-width: 570px) {
  .footer {
    margin-right: 0;
    overflow: hidden;
  }
}
.overlay {
  position: relative;
}

.footer.overlay:after {
  background: #000;
  opacity: 0.75;
}

.overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
}/*# sourceMappingURL=contact.css.map */